<nav class="breadcrumb">
  <div class="breadcrumb-element">
    <a href="{{ '/' | relative_url }}">Home</a>
    <p>❯</p>
  </div>

  {% if page.categories %}
    <div class="breadcrumb-element">
      <a href="{{ '/categories/' | relative_url }}">Categories</a>
      <p>❯</p>
    </div>
    <div class="breadcrumb-element">
      <a href="{{ '/categories/' | append: page.categories[0] | append: '/' | relative_url }}">
        {{ page.categories[0] }}
      </a>
      <p>❯</p>
    </div>
  {% endif %}

  <div class="breadcrumb-element">
    <span>{{ page.title }}</span>
  </div>
</nav>
