* { 
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
::-moz-selection, ::selection {
  background: color-mix(in srgb, var(--tertiary) 60%, #fff0);
  color: var(--darkgray);
}
:root {
  --light: #ebfff0;
  --lightgray: #c5ffdb;
  --gray: #74e291;
  --darkgray: #2d9d5c;
  --dark: #174029;
  --secondary: #ff1493;
  --tertiary: #d373ff;
  --highlight: #ff149326;
}
[data-theme="dark"] {
  --light: #0c2614;
  --lightgray: #1a4027;
  --gray: #35964b;
  --darkgray: #84ffa8;
  --dark: #ddffea;
  --secondary: #ff47b6;
  --tertiary: #b73fff;
  --highlight: #ff47b626;
}
@font-face {
  font-family: 'Sligoil';
  src: url('https://cdn.jsdelivr.net/gh/dduyg/LiminalLoop@main/fonts/Sligoil-Micro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Basteleur';
  src: url('https://cdn.jsdelivr.net/gh/dduyg/LiminalLoop@main/fonts/Basteleur-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
html, body { 
  height: 100%;
}
body {
  font-family: 'Sligoil', monospace;
  background-color: var(--light);
  color: var(--darkgray);
  padding: 1rem;
  display: flex;   
  flex-direction: column;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}
main {
  flex: 1;
}

a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: var(--tertiary);
}
a.internal {
  background-color: var(--highlight);
  border-radius: 5px;
  padding: 0 0.1rem;
  line-height: 1.4rem;
}
a.tag {
  background-color: var(--highlight);
  border-radius: 8px;
  margin: 0 0.1rem;
  padding: 0.2rem 0.4rem;
}
a.tag::before {
  content: "#";
} 

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  gap: 0.4rem;
  margin: 1rem 0;
  padding-left: 0;
  list-style: none;
}
.tags .tagg {
  color: var(--tertiary);
  display: inline-block;
  white-space: nowrap;
  overflow-wrap: normal;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Basteleur', sans-serif;
  color: var(--dark);
}
h1 {
  margin: 2.25rem 0 1rem;
  font-size: 1.75rem;
}
h2 {
  margin: 1.9rem 0 1rem;
  font-size: 1.4rem;
}
code, pre {
  font-family: "IBM Plex Mono", monospace;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 6rem;
}

.logo-icon {
  width: 45px;
  height: 45px;
  fill: var(--secondary);
  transition: fill 0.3s ease;
}
.logo-icon:hover {
  fill: var(--highlight);
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
}   
#icon-wrapper {
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.icon-transition-out { 
  opacity: 0;
  transform: scale(0.7);
}
.icon-transition-in {
  opacity: 1; 
  transform: scale(1);
}
#theme-toggle svg {
  width: 25px; 
  height: 25px;
  fill: var(--dark);
  transition: fill 0.3s ease;
}

ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  margin-bottom: 0.5rem;
}

article h1 {
  margin-bottom: 0;
}
.content-meta {
  font-size: 0.8rem;
  color: var(--gray);
  margin-top: 0;
}
.content-meta[show-comma=true] > span:not(:last-child) {
  margin-right: 8px;
}
.content-meta[show-comma=true] > span:not(:last-child)::after {
  content: ",";
}

.folder::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='white'/%3E%3Cpath d='M4 9V6.47214C4 6.16165 4.07229 5.85542 4.21115 5.57771L5 4H10L11 6H21C21.5523 6 22 6.44772 22 7V9V18C22 19.1046 21.1046 20 20 20H18' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.2362 9H2.30925C1.64988 9 1.17099 9.62698 1.34449 10.2631L3.59806 18.5262C3.83537 19.3964 4.62569 20 5.52759 20H19.6908C20.3501 20 20.829 19.373 20.6555 18.7369L18.201 9.73688C18.0823 9.30182 17.6872 9 17.2362 9Z' stroke='currentColor'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
  vertical-align: middle;
}
