table td { padding: 5px; }
table pre { margin: 0; }

.w {
  color: #fff;
}
.cp {
  color: #CC00A3;
}
.cs {
  color: #CC00A3;
}
.c, .cd, .cm, .c1 {
  color: #FF0000;
}
.kc {
  color: #C34E00;
}
.kd {
  color: #f0e68c;
}
.kr {
  color: #007575;
}
.k, .kn, .kp, .kt, .kv {
  color: #f0e68c;
  font-weight: bold;
}
.s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
  color: #009C00;
}
.nb, .bp {
  color: #C34E00;
}



