---
layout: default
---

<h1>📂 Notes in category "{{ page.category }}"</h1>

<ul>
  {% assign published_notes = site.notes | where_exp: "note", "note.published != false" %}
  {% assign categorized_notes = published_notes | where_exp: "note", "note.categories contains page.category" %}
  {% assign sorted_notes = categorized_notes | sort: "last_modified_at" | reverse %}

  {% for note in sorted_notes %}
    <li>
      <a href="{{ note.url | relative_url }}">{{ note.title }}</a>
      <small>— Last modified: {{ note.last_modified_at }}</small>
    </li>
  {% endfor %}
</ul>
