<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ site.description }}" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.jsdelivr.net/gh/dduyg/LiminalLoop@main/06/favicons/RGB-magentaAloe.ico">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <div>
      <button id="theme-toggle" aria-label="Toggle theme">
        <svg id="theme-icon" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <path d="M14,24A10,10,0,0,0,24,34V14A10,10,0,0,0,14,24Z"></path>
          <path d="M24,2A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2ZM6,24A18.1,18.1,0,0,1,24,6v8a10,10,0,0,1,0,20v8A18.1,18.1,0,0,1,6,24Z"></path>
        </svg>
      </button>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© {{ site.time | date: "%Y" }} ▄</p>
    <a href="{{ '/tags/' | relative_url }}">Tags</a>
    <a href="{{ '/categories/' | relative_url }}">Categories</a>
  </footer>

 <script src="{{ '/assets/search.js' | relative_url }}"></script>
 <script src="{{ '/assets/theme-toggle.js' | relative_url }}"></script> 
</body>
</html>
